*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: aquamarine;
    max-width: max-content;
}
/* -----header style  */
nav{
    box-shadow: 0px 5px 10px rgb(199, 197, 197);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-title img{
    width: 50px;
    height: 30px;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
     gap: 10px;
}

.menu-icon-list{
    background-color: rgb(209, 209, 209);
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.fa-youtube{
    font-size: large;
    color: red;
}

.g{
    background: var(--linear,linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent
}


/* banner style */
.banner{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.banner img{
    width:100%;
    height: 500px;
}

.banner-title{
    color: #0B0223;
    font-size: 48px;
}

.banner h2{
    background: var(--linear,linear-gradient(180deg, #FF42A5 40%, #8758F1 100% ));
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 80px;
    font-family: "poppins";
}

.banner-list-icon{
    display: flex;
    align-items: center;
    justify-items: start;
    column-gap: 10px;
    font-size: medium;

}

.banner-list-icon i{
    color: rgb(255, 0, 140);
    margin-bottom: 10px;
}

.btn-1{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF42A5;
    color: white;
    font-size: medium;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

}

.btn-1:hover{
    box-shadow: 0 0 25 #FF42A5,
                0 0 100 #FF42A5,
                0 0 25 #FF42A5

}
.btn-2{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8758F1;
    color: white;
    font-size: medium;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

}


/* about section style */
.about{
    padding: 50px;
    display: flex;
    align-items: center;

}
.about-img{
    width: 65%;
}
.about-img img{
    width: 100%;
    height: 100%;

}
.about-content{
    width: 35%;
    text-align: right;
}

.about-title{
    background: var(--linear,linear-gradient(180deg, #FF42A5 40%, #8758F1 100% ));
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 48px;
    font-family: "poppins";


}

.about-text{
    font-size: 16px;
    margin-top: 10px;

}

.purpose{
    font-size: 16px;
    margin: 5px 0px;
}

.about-content h5{
    font-size: 18px;
    margin-top: 4px;
}

/* vidoes section */
.vidoes-section{
    text-align: center;
    padding: 50px;
    font-family: "poppins";
}

.video-container{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    overflow: hidden;
    text-align: left;
    margin-left: 5px;
   
}

.video img{
    width: 100%;
}
.video p{
    font-size: 16px;
    margin-top: 5px;
}


/* game section */
.play-game-section{
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 50px 80px;
}

.img-conteiner{
    width: 50%;
}

.large-pic{
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    position: relative;
}
.small-pic{
    width: 318px;
    height: 330px; 
    position: absolute;
    top: 2200px;
    left: 500px;

}
.img-content{
    width: 50%;
    margin-left: 100px ;
}

.img-title{
    font-family: "poppins";
    font-size: 36px;

}
.img-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 46px;
    line-height:60px;
}


/* career */
.career{
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #FF42A5;
    color: white;
}
.career-content{
    width: 50%;
    padding: 50px;
}
.career-img{
    width: 50%;
}
 .career-img img{
    width: 100%;
}
.left-text{
    text-align: left;
    margin-top: 10px;

}
.right-text{
   text-align: right;
   margin-top: 10px;
    
}
.title{
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

.description{
    font-family: "poppins";
    font-size: 14px;
} 
.text-content{
    font-family: "poppins";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
/* responsive layout added here for mobile mode */
@media screen and (max-width: 480px) {
     nav,.menu-item{
        flex-direction: column;
        overflow: hidden;
        padding: 10px 0px;
        box-shadow: none;
    }

    .banner{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner h2{
        font-size: 54px;
    }

    /* about */
    .about{
        flex-direction: column;
        padding: 20px;
    }
    .about-img, .about-content{
      width: 100%;
      text-align: center;
    }
    .purpose{
        margin-top: 20px;
    }

    /* vidoes section */
    .video-container{
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
    }
    .vidoes-section{
        padding: 50px 5px;
    }
    .vidoes-section .about-title{
        font-size: 34px;
        padding: 0px;
        margin-bottom: 10px;
        line-height: 36px;
    }

    .video p{
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
    }


    /* play game */
    .play-game-section{
        flex-direction: column-reverse;
        row-gap: 50px;
        padding: 0px;
    }

    .img-conteiner,.img-content{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding: 5px;
    }

   .large-pic{
        width: 80%;
        height: 300px;
        position: relative;
    }
    .small-pic{
    position: absolute;
        width: 40%;
        height: 40%; 
        top: 4200px;
        left: 240px;
    
    }

    .img-title, .img-title span{
        font-family: "poppins";
        font-size: 28px;
        line-height: 34px;
        margin-bottom:10px ;
    
    }

    /* career */
    .career{
    margin-top: 50px;
    flex-direction: column;
    color: white;
}

.career-content,.career-img{
    width: 100%;
}
}
@media screen and (max-width: 980px) {
     nav,.menu-item{
        flex-direction: column;
        overflow: hidden;
        padding: 10px 0px;
        box-shadow: none;
    }

    .banner{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner h2{
        font-size: 54px;
    }

     /* about */
     .about{
        flex-direction: column;
        padding: 20px;
    }
    .about-img, .about-content{
      width: 100%;
      text-align: center;
    }
    .purpose{
        margin-top: 20px;
    }

    /* vidoes section */
    .video-container{
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
    }
    .vidoes-section{
        padding: 50px 5px;
    }
    .vidoes-section .about-title{
        font-size: 34px;
        padding: 0px;
        margin-bottom: 10px;
    }

    .video p{
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
    }

     /* play game */
     .play-game-section{
        flex-direction: column-reverse;
        row-gap: 50px;
        padding: 0px;
    }

    .img-conteiner,.img-content{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding: 5px;
    }

   .large-pic{
        width: 80%;
        height: 300px;
        position: relative;
    }
    .small-pic{
    position: absolute;
        width: 40%;
        height: 40%; 
        top: 4200px;
        left: 240px;
    
    }

    .img-title, .img-title span{
        font-family: "poppins";
        font-size: 28px;
        line-height: 34px;
        margin-bottom:10px ;
    
    }
}



